*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{
    border: solid 3px rgb(129, 245, 181);
    /* width: 100px;
    height: 100px; */
    display: flex;
    flex-direction: row; 
}

.img{
    width: 100px;
    height: 100px;
    
}