*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{
    /* border: solid 0.5px rgb(129, 245, 181); */
    height: 50px;
    background-color: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    color: #e85929;
    align-items: center;
    background-color: #292929;

}
.header p {
    font-family: 'Mochiy Pop P One', sans-serif;
    align-items: center;
}
.img{
    width: 100px;
    height: 100px;
    
}
.titulos{
    width: 400px;
    /* border: solid 3px red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconos{
    width: 300px;
    /* border: solid 3px red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}